body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #333;
  font-size: 13px;
  font-family: "Montserrat", "Helvetica,Arial", "calibri", "sans-serif";
}

td,
th,
caption {
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #337ab7;
  text-decoration: none;
}

img {
  border: none;
}

html ol,
ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  box-shadow: none;
}

input,
textarea,
select,
button {
  font: 13px Verdana, Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

html {
  overflow-y: auto;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

i {
  font-style: normal;
}

a:hover {
  text-decoration: none !important;
}

input[type=text]::-webkit-input-placeholder {
  color: #555 !important;
}

input[type=text]:-moz-placeholder {
  color: #555 !important;
}

input[type=text]:-ms-input-placeholder {
  color: #555 !important;
}